APP_ENVIRONMENT=development
APP_DEBUG=true
APP_DJANGO_SECRET_KEY=change-me
APP_JWT_SECRET_KEY=change-me-too
APP_ALLOWED_HOSTS=["*"]
APP_FRONTEND_ORIGIN=http://localhost:3000
APP_MYSQL_HOST=mysql
APP_MYSQL_PORT=3306
APP_MYSQL_DATABASE=phishing_detector
APP_MYSQL_USER=phishing_user
APP_MYSQL_PASSWORD=phishing_pass
APP_SQLALCHEMY_DATABASE_URL=mysql+pymysql://phishing_user:phishing_pass@mysql:3306/phishing_detector
APP_REQUEST_TIMEOUT_SECONDS=8
APP_MAX_CONTENT_LENGTH_BYTES=500000
APP_USE_PLAYWRIGHT_FALLBACK=false
